[submodule "external/bace"]
	path = external/bace
	url = https://github.com/s1as3r/bace
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/cimgui/cimgui"]
	path = external/cimgui/cimgui
	url = https://github.com/cimgui/cimgui
